#noVNC_preset_button {
    cursor: pointer;
  
    padding: 10px;
  
    color: white;
    background-color: rgb(110, 132, 163);
    border-radius: 12px;
  
    text-align: center;
    font-size: 20px;
  
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
  }
  #noVNC_preset_button div {
    margin: 2px;
    padding: 5px 30px;
    border: 1px solid rgb(83, 99, 122);
    border-bottom-width: 2px;
    border-radius: 5px;
    background: linear-gradient(to top, rgb(110, 132, 163), rgb(99, 119, 147));
  
    /* This avoids it jumping around when :active */
    vertical-align: middle;
  }
  #noVNC_preset_button div:active {
    border-bottom-width: 1px;
    margin-top: 3px;
  }
  :root:not(.noVNC_touch) #noVNC_preset_button div:hover {
    background: linear-gradient(to top, rgb(110, 132, 163), rgb(105, 125, 155));
  }
  
  #noVNC_preset_button img {
    vertical-align: bottom;
    height: 1.3em;
  }